/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .hide-on-pc {
    display: none;
  }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }

  .header-top {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar {
    display: none;
  }

  .toggle-menu {
    width: 28px;
    color: #fff;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .menu-drawer .navbar__list {
    display: block;
    margin-top: 32px;
  }

  .menu-drawer .navbar__link {
    display: block;
    color: #333;
    font-weight: 600;
    padding: 14px 0;
  }

  .menu-drawer .navbar__link--active::before {
    display: none;
  }

  .menu-drawer,
  .navbar__link:hover,
  .navbar__link--active {
    text-shadow: none;
  }

  .menu-drawer .toggle-logo {
    display: flex;
  }

  .menu-drawer .logo__text {
    text-align: left;
  }

  .menu-drawer .logo__brand {
    font-size: 2.2em;
    font-weight: 600;
    color: #000;
  }

  .menu-drawer .logo__brand--small {
    font-size: 1.6em;
    font-weight: 400;
  }

  .hero {
    margin-top: 150px;
  }

  .hero__img:last-child {
    display: none;
  }

  .hero__heading {
    font-size: 6rem;
  }

  .btn {
    min-width: 142px;
  }

  .service__heading,
  .service__desc {
    text-align: left;
  }

  .service__desc {
    margin-left: 0;
  }

  .service__img {
    width: 100%;
    height: auto;
  }

  .btn__service {
    margin-left: 30px;
    width: 85%;
  }

  .work__list {
    grid-template-columns: 1fr;
  }

  .feature__inner {
    flex-direction: column;
  }

  .feature__inner .feature__media {
    order: 2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .feature__inner .feature__content {
    order: 1;
  }

  .member__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .member__control {
    display: none;
  }

  .member-item__thumb {
    display: inline-block;
  }

  .install__img {
    display: none;
  }

  .install__inner {
    padding: 70px;
    border-radius: 30px;
  }

  .news__inner {
    display: block;
  }

  .news__list {
    margin-top: 40px;
  }

  .news__control {
    margin: 30px 0 0 240px;
  }

  .footer__row {
    grid-template-columns: 1fr 1fr;
  }

  .footer-logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem; /* 10px */
    font-family: "Sora", sans-serif;
  }

  .footer-logo__circle::before,
  .footer-logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
  }

  .footer-logo__circle::before {
    width: 3em; /* 30px */
    height: 3em;
    background: #2e80ce;
  }

  .footer-logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
  }

  .footer__copyright {
    margin-top: 40px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
}
